<h1>{{title}}</h1>

<div class="form">
  <h2>Register User</h2>
  <form action="/register" method="post" enctype="multipart/form-data">
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" id="firstname" />
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="lastname" />
    <label for="email">Email</label>
    <input type="email" name="email" id="  email " />
    <label for="displaypic">Display Picture</label>
    <input type="file" name="displaypic" id="displaypic" />
    <button type="submit">Register</button>
  </form>
</div>